*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

text-transform:none;

}

.data_not_found {
  color: #333; /* Set your desired text color */
  text-align: center; /* Center the text */
  margin-top: 120px; /* Adjust the top margin as needed */
  
}
.data_not{
  font-size: 26px;
}

.link{
  text-decoration: none;
  color: #000;
}
/* .link:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px; 
} */

.show{
  cursor: pointer;

  display: block;
  margin-top: 20px;
  color: #000;
  background:white;
  border: 3px solid black;
  padding: 5px 15px 5px 15px ;
  width: fit-content;
  border-radius: 80px;
  margin: auto;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}
.show:hover{
  background-color: black;
  color: white;

}

.category_big1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
width: 98%;
margin-top: 30px

}

.catbig1{
width: 44%;
background-color: rgba(252, 238, 33, 0.26);
}


.catbig1_card{
  width: 100%;
}
.catbig1_card_img{
  width: 100%;
}

.catbig1_card_image{
  width: 100%;
  height: fit-content;
}
.catbig1_card_title{
  margin-left: 10px;
  font-size: 1.9rem;
  font-weight: 800;
  margin-top: 10px;
}
.catbig1_card_description{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 1.1rem;
  font-weight: 570;
}
.catbig1_authorDate{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}
.catbig1_author{
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 570;

}
.catbig1_date{
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 570;
}

/* category  small  posts */
.category_small1{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  flex-wrap: wrap;
}
.catsmall{
  width: 24%;
  background-color: rgba(252, 238, 33, 0.26);
  margin-bottom: 20px;

}
.catsmall_card{
  width: 100%;
}
.catsmall_card_img{
  width: 100%;
}
.catsmall_card_image{
  width: 100%;

}
.catsmall_card_title{
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 10px;
}
.catsmall_card_author{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* the  title category  posts  */
.category_title{
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin-top: 25px;
margin-bottom: 25px;
flex-wrap: wrap;
}

.cattitle{
  width: 45%;
  margin-top: 10px;

}

.catsmall_card{
  width: 100%;
  
}
.cattitle_card_title{
  font-size: 1.2rem;
  font-weight: 700;
}

.cattitle_card_line{
  width: 100%;
  margin-top: 25px;
  border: 2px solid  gray;
}
.cattitle_card_date{
  float: right;
  margin-right: 15px;
  margin-top: 5px;

}
@media screen and (max-width:1100px) {
  .catbig1{
    width: 48%;
    background-color: rgba(252, 238, 33, 0.26);
    
    }

   
      
      
     
      
      
     
      .catbig1_card_title{
        margin-left: 10px;
        font-size: 1.3rem;
        font-weight: 800;
        margin-top: 10px;
      }
      .catbig1_card_description{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 1rem;
        font-weight: 570;
      }
      .catbig1_authorDate{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .catbig1_author{
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 570;
      
      }
      .catbig1_date{
        margin-right: 10px;
        font-size: 1rem;
        font-weight: 570;
      }

}

@media screen and (max-width:800px) {

  .catsmall{
    margin-top: 10px;
  }

  .catbig1{
    width: 96%;
    background-color: rgba(252, 238, 33, 0.26);
    margin-top: 15px;
    }
      .catbig1_card_title{
        margin-left: 10px;
        font-size: 1.3rem;
        font-weight: 800;
        margin-top: 10px;
      }
      .catbig1_card_description{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 1rem;
        font-weight: 570;
      }
    /* snall  posts  category */
      .catsmall{
        width: 48%;
        background-color: rgba(252, 238, 33, 0.26);
      }

      .catsmall_card_title{
        font-size: 1.2rem;
        margin-left: 10px;
        margin-top: 10px;
      }


/* the  title category  posts  */


.cattitle{
  width: 98%;
  margin-top: 20px;

}
.catsmall_card{
  width: 100%;
  
}
.cattitle_card_title{
  font-size: 1.5rem;
  font-weight: 700;
}

}


@media screen and (max-width:500px) {

  .data_not_found {
width: 99%;
    margin-top: 200px; /* Adjust the top margin as needed */
  }
  .data_not{
    font-size: 20px;

  }

  .catbig1Disappear{
    display: none;
  }
  .category_page{
    margin-top: -14px;
  }
  /* .category_small1{
    margin-top: 100px;
  } */

  .catsmall{
   
    margin-bottom: 10px;
  
  }
      .catbig1_card_title{
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 800;
        margin-top: 10px;
      }
      .catbig1_card_description{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 0.9rem;
        font-weight: 570;
      }
    
       /* snall  posts  category */
       .catsmall{
        width: 48%;
        background-color: rgba(252, 238, 33, 0.26);
      
      }

      .catsmall_card_title{
        font-size: 0.8rem;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: 600;
      }




      .cattitle{
        width: 98%;
        margin-top: 20px;
      
      }
      .catsmall_card{
        width: 100%;
        
      }
      .cattitle_card_title{
        font-size: 1rem;
        font-weight: 600;
      }
/* this for date  and  author in bigposts  for  all big posts  */
.catbig1_author , .catbig1_date , .catsmall_card_author ,
 .cattitle_card_date  ,.author ,  .date ,.catbig1_date ,
 .small_card_title ,.small_card_author ,.techbig_author , .techbig_date,
 .techsmall_card_author , .titlepost_date

 {
  font-size: 0.8rem;
  font-weight: 540;
}


.disappear{
  display: none;
}

.category_big1_phone1{
  margin-bottom:-90px ;
}
.category_big1_phone2{
  margin-top:-10px ;

}


}









.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  display: flex;
  align-items: center;
}


.dot {
  width: 12px;
  height: 12px;
  background-color: black; /* Dot color */
  border-radius: 50%;
  animation: blink 2s infinite ease-in-out both;
  margin: 5px ;
}
.dot1 {
  width: 12px;
  height: 12px;
  background-color: black; /* Dot color */
  border-radius: 50%;
  animation: blink 3s infinite ease-in-out both;
  margin: 5px ;
}
.dot2 {
  width: 12px;
  height: 12px;
  background-color: black; /* Dot color */
  border-radius: 50%;
  animation: blink 1s infinite ease-in-out both;
  margin: 5px ;
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}



  .loader-text {
    margin-top: 20px;
    font-size: 24px;
    color: black;
  }
    